 

.footer {
    height: 582px;
    background: #6278F7;
    color: #FFF;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.footer ul li {
    width: 40px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer img {
    max-width: 100%;
    padding-bottom: 20px;
    
}